### Operating System Files ###
blockchain.db
*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

### Build Artifacts ###
.gradle/
target/
bin/
git.properties
dependency-reduced-pom.xml
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.run/
out
gen

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Runtime ###
/log
/gateway/log
/boot/log
node_modules
src/config/*.tmp
npm-debug.log
*.log

/dubbo-registry.cache
/dubbo-registry.cache.lock### Example user template template
### Example user template

